ChessAI/obj/*
ChessAI/bin/*
*.sln
*.csproj*
/ChessAI/.vs/ChessAI/v15/.suo
/ChessAI/.vs/ChessAI/v15/Server/sqlite3/storage.ide-wal
/ChessAI/.vs/ChessAI/v15/Server/sqlite3/storage.ide-shm
/ChessAI/.vs/ChessAI/v15/Server/sqlite3/storage.ide
/ChessAI/.vs/ChessAI/v15/Server/sqlite3/db.lock
/.vs/ChessAI/v15
/.vs
